{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

 <!-- Page Header Start -->
 <div class="container-fluid page-header mb-5 p-0" style="background-image: url(../../static/core/img/carousel-bg-2.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Api</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Api</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-primary text-uppercase">// Nuestros servicios //</h6>
            <h1 class="mb-5">Explore nuestros servicios</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav w-100 nav-pills me-4">
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                        <i class="fa fa-car-side fa-2x me-3"></i>
                        <h4 class="m-0">Vehiculos</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                        <i class="fa fa-cog fa-2x me-3"></i>
                        <h4 class="m-0">Sustitución de neumáticos</h4>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0" data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                        <i class="fa fa-oil-can fa-2x me-3"></i>
                        <h4 class="m-0">Aceites</h4>
                    </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'core/img/service-1.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">15 años de experiencia en el mantenimiento de automóviles</h3>
                                <p class="mb-4">En CarServ tenemos 15 años de experiencia en la reparación y mantención de automóviles de todo tipo. Contamos con un personal del más alto nivel, ya que nos gusta que los clientes queden conformes.</p>
                                <p><i class="fa fa-check text-success me-3"></i>Servicios de calidad</p>
                                <p><i class="fa fa-check text-success me-3"></i>Trabajadores expertos</p>
                                <p><i class="fa fa-check text-success me-3"></i>Equipamiento moderno</p>
                                <a href="{% url 'marcas' %}" class="btn btn-primary py-3 px-5 mt-3">¿Quires ver todas las marcas?, haz click aqui!<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'core/img/service-3.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">15 años de experiencia en el mantenimiento de automóviles</h3>
                                <p class="mb-4">En CarServ utilizamos los neumáticos de mejor calidad disponibles en el mercado, ya que nos gusta hacer un trabajo correcto a la hora de cambiar neumáticos y que los clientes no tengan problemas en el futuro.</p>
                                <p><i class="fa fa-check text-success me-3"></i>Servicios de calidad</p>
                                <p><i class="fa fa-check text-success me-3"></i>Trabajadores expertos</p>
                                <p><i class="fa fa-check text-success me-3"></i>Equipamiento moderno</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Seguir leyendo<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-4">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'core/img/service-4.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3">15 años de experiencia en el mantenimiento de automóviles</h3>
                                <p class="mb-4">CarServ utiliza los mejores aceites de autos que hay en el mercado, ya que nos destacamos por la calidad del producto a la hora de trabajar. Además, los aceites son exportados desde del exterior hacia el país.</p>
                                <p><i class="fa fa-check text-success me-3"></i>Servicios de calidad</p>
                                <p><i class="fa fa-check text-success me-3"></i>Trabajadores expertos</p>
                                <p><i class="fa fa-check text-success me-3"></i>Equipamiento moderno</p>
                                <a href="{% url 'aceites' %}" class="btn btn-primary py-3 px-5 mt-3">¿Buscas algun aceite?, haz click aqui!<i class="fa fa-arrow-right ms-3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="text-primary text-uppercase">// Testimonio //</h6>
            <h1 class="mb-5">Nuestros clientes opinan</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'core/img/testimonial-1.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Laura Hernandez</h5>
                <p>Ingeniero Comercial</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Los productos que proporciona CarServ son los mejores! ¡Gracias!.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'core/img/testimonial-2.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Juan Pablo Gonzalez</h5>
                <p>Ingeniero en Informatica</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Muchas gracias por el cambio de aceite. Se nota que los productos que utilizan son de alta calidad. ¡Saludos!</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'core/img/testimonial-3.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Diego Muñoz</h5>
                <p>Ingeniero en Informatica</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">Es el mejor neumático que he tenido en mi vehículo. Muchas gracias por el compromiso y la dedicación hacia sus clientes.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="{% static 'core/img/testimonial-4.jpg' %}" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Fancisca Cuello</h5>
                <p>Medico</p>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">La prueba de diagnóstico fue muy rápida y eficaz. Muchas gracias por la preocupación y la atención.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->




{% endblock %}