{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<div class="container mt-3">
  <h2>Mecanicos</h2>
  <p>En la siguiente tabla podrás ver todos los mecánicos contratados:</p>            
  <table class="table">
      <thead>
        <tr>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Tipo</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for aux in lista %}
            <tr>
                <td>{{ aux.rut }}</td>
                <td>{{ aux.nombre }}</td>
                <td>{{ aux.apellido }}</td>
                <td>{{ aux.tipo.descripcion }}</td>
                <td>
                  <a class="btn btn-info" href="{% url 'empleadosupdate' aux.id %}">Actualizar</a>
                </td>
                <td>
                  <a class="btn btn-danger" href="{% url 'empleadosdelete' aux.id %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
  </table>
  <a href="{% url 'empleadosadd' %}" class="nav-item nav-link active">Agregar Mecanico</a>

  <h2>Digimon</h2>
  <p>En la siguiente tabla podrás ver todos los Digimon:</p>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Imagen</th>
          <th scope="col">Nivel</th>
        </tr>
      </thead>
      <tbody>
        {% for aux in page_obj %}
        <tr>
          <td>{{ aux.name }}</td>
          <td>
            <div class="d-flex align-items-center">
              <img class="img-fluid me-3" src="{{ aux.img }}" alt="#" style="width: 70px; height: 70px;">
            </div>
          </td>
          <td>{{ aux.level }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  
  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
         {% if page_obj.has_previous %}
         <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
         {% endif %}

         {% for num in page_obj.paginator.page_range %}
         {% if page_obj.number == num %}
         <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
         {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
         <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
         {% endif %}
         {% endfor %}

         {% if page_obj.has_next %}
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
         {% endif %}
      </ul>
   </nav>
</div>



{% endblock %}